.navbar{
  display: flex;
  justify-content: space-around;  
  align-items: center;
  background-color: #4c9cfd;
  padding: 50px 0px;
  color: white;
  font-size: 35px;
}
.wish{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.wish button{
  border: none;
  height: fit-content;
  position: relative;
  top: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: all .3s ease-out;
}
.wish button:hover{
  transform: scale(1.2);
}
.addWish{
  font-size: 20px;
  width: 89%;
  height: 76px;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #d1d5db;
  box-shadow: 1px 1px 5px #d1d5db;
}
.addWish:focus{
  border: 2px solid #4c9cfd;
  border-radius: 5px;
}
.sbmt{
  border: none;
  outline: none;
  color: white;
  font-weight: 700;
  background-color: #4c9cfd;
  font-size: 25px;
  padding: 23px 38px;
}